header {
    .logo {
        padding: 5px;
    }

    .navbar-brand {
        @extend %estiloNav;
    }

    .navbar-toggler {
        border-color: black;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .nav-item {
        display    : inline-block;
        margin     : 0.5rem;
        font-size  : 1.2rem;
        font-weight: 600;

        .nav-link {
            display        : block;
            text-decoration: none;
            text-transform : uppercase;
            transition     : 0.5s;
            position       : relative;
            @extend %estiloNav;

            &:hover {
                color: #a7684d;
            }

            &:active {
                color: #f19167;
            }

            &:visited {
                color: #c87d5d;
            }

            &::after {
                content         : "";
                position        : absolute;
                top             : 100%;
                left            : 0;
                width           : 100%;
                height          : 3px;
                background-color: #a7684d;
                transform       : scaleX(0);
                transform-origin: right;
                transition      : transform 0.5s;
            }

            &:hover::after {
                transform       : scaleX(1);
                transform-origin: left;
            }
        }
    }
}